*{
    font-family: 'Jost', sans-serif;
}

.mid {
    background-color: lightsteelblue !important;
}

.mainimg {
    display: block;
    margin: auto;
    width: 400px;
    height: 180px;
}

.desc {
    text-align: center;
    font-size: 30px;
}

.desc2 {
    text-align: center;
    font-size: 15px;
    font-style: italic;
}

html, body, .container {
    height: 100%;
}

.reg {
    color: #606060;
    text-align: center;
}

.card {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    width: 250px;
    text-align: center;
}

.image {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.cc {
    display: block;
    border: solid 1px blue;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    cursor: pointer;
}

.pp {
    display: block;
    border: solid 1px cornflowerblue;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    cursor: pointer;
}

.ovo {
    display: block;
    border: solid 1px purple;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    cursor: pointer;
}

.gp {
    display: block;
    border: solid 1px black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    cursor: pointer;
}

.dn {
    display: block;
    border: solid 1px cornflowerblue;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    cursor: pointer;
}

.card {
    border-radius: 10px;
}

.extrabutton{
	border: 1px solid #404040;
    margin: auto;
    display: block;
    text-align: center;
	padding: 5px;
    cursor: pointer;
	width: 265px;
	font-size: 14px;
	color: #404040;
}