*{
    font-family: 'Jost', sans-serif;
}

.mid {
    background-color: lightsteelblue !important;
    text-align: center;
    color: #404040;
}

input {
    text-align: center;
}

.modalcontent {
    margin: 0px;
}

.mainimg {
    display: block;
    margin: auto;
    width: 400px;
    height: 180px;
}

html, body, .container {
    height: 100%;
}

.loginbutton {
    margin: auto;
    margin-bottom: 15px;
}

.form {
    margin: 25px 0px;
    font-size: 27px;
    font-weight: bold;
}

.membertype {
    color: black;
}

.period {
    color: black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .lgnbtn {
    appearance: button; /* CSS3 */    
    -webkit-appearance: button; /* Safari and Chrome */
    -moz-appearance: button; /* Firefox */
    -ms-appearance: button; /* Internet Explorer */
    -o-appearance: button; /* Opera */
    cursor: default;
  }

.extrabutton {
    display:block;
    margin:auto;
    text-align: center;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
}

.ktp {
    display: block;
    margin: auto;
    width: 200px;
    height: 150px;
}