*{
    font-family: 'Jost', sans-serif;
}

.mid {
    background-color: lightsteelblue !important;
}

.mainimg {
    display: block;
    margin: auto;
    width: 400px;
    height: 180px;
}

html, body, .container {
    height: 100%;
}

.reg {
    color: #606060;
    text-align: center;
}

.card {
    margin: auto;
    margin-bottom: 10px;
    display: block;
    width: 250px;
    text-align: center;
}

.image {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.fb {
    display: block;
    border: solid 1px blue;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    cursor: pointer;
}

.tw {
    display: block;
    border: solid 1px lightseagreen;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    cursor: pointer;
}

.go {
    display: block;
    border: solid 1px red;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    cursor: pointer;
}

.gt {
    display: block;
    border: solid 1px black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: lightpink;
    cursor: pointer;
}

.card {
    border-radius: 10px;
}