*{
    font-family: 'Jost', sans-serif;
}

body {
    background-image: url("../Assets/wallpaper.png");
}

footer {
    background-color: #404040;
    clear: both;
    position: relative;
    height: 100px;
    margin-top: -100px;
    text-align: center;
    color: white;
}

.parallax {
    margin: auto;
    margin-top: 25px;
    display: block;
    width: 520px;
    height: 250px;
}

a {
    color: initial;
}

.navigbar { 
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

a.translink {
    color: #1E1E1E;
    text-decoration: none;
}

a.navilink {
    color: #1E1E1E;
    text-decoration: none;
    margin: 0px 50px;
	text-align: center;	
	font-size: 20px;
}

header ul li {
    list-style: none;
    display: inline;
}

a:hover {
    color: #fff;
}
header{
	align-content: center;
}

.rowleft {
    margin-top: 50px;
    margin-left: 270px;
    float: left;
}

.mainpic {
    width: 330px;
    height: 150px;
}

.subpic {
    width: 330px;
    height: 100px;
}

.motto {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.rowright {
    margin-top: 50px;
    float: right;
    margin-right: 270px;
}

.row {
    clear: both;
    margin-bottom: 25px;
}